#project {
    h1 {
        margin-top: -50px;
        margin-bottom: 50px;
    }
    p {
        width: 80%;
        margin-left: 10%;
        text-align: left;
    }
}

.row {
    margin: 10px auto;
    &::after {
        content:".";
        display:block;
        height:0;
        visibility:hidden;
        clear:both;
}
}

@for $i from 1 to 12 {
    .col-#{$i} {
        float: left;
        width: $i / 12 * 100%;
        margin: 10px 0;
    }
}
