.loading {
    position:fixed;
    width:100%;
    height:100%;
    font-size: 100px;
    background: #F5F5F5;
    visibility: visible;
    opacity: 1;
    animation: fadeOut 1s linear 4.5s;
    animation-fill-mode: forwards;
}

.paper {
    position: absolute;
    top: 2em;
    left: 50%;
    width: 2.4em;
    height: 3.2em;
    margin-left: -1.2em;
    border-radius: .25em;
    background: #FFF;
    z-index: 7;
    animation: showUp 5s linear;
    animation-fill-mode: forwards;
}

h1 {
    margin-bottom: .16em;
    text-align: center;
    letter-spacing: .16em;
    font-family: cursive;
    font-size: .36em;
    color: #222;
    opacity: 0;
    animation: headShow .6s linear;
    animation-fill-mode: forwards;
}

.line {
    height: .11em;
    width: 0;
    margin: .16em .15em;
    background: #D4DAE3;
    animation: lineFill .8s linear;
    animation-fill-mode: forwards;
}

#line1 {
    animation-delay: .6s;
}

#line2 {
    animation-delay: 1.3s;
}

#line3 {
    animation-delay: 1.9s;
}

#line4 {
    animation-delay: 2.5s;
}

#line5 {
    animation-delay: 3.1s;
}

#line6 {
    animation-delay: 3.7s;
}

#line7 {
    animation-delay: 4.3s;
}

.panel {
    position: absolute;
    top: 3.2em;
    left: 50%;
    width: 2.7em;
    height: .62em;
    margin-left: -1.35em;
    border-top-right-radius: .15em;
    border-top-left-radius: .15em;
    background: #C4CAD3;
    z-index: 8;
    opacity: 1;
    animation: fade .5s linear 2.5s;
    animation-fill-mode: forwards;
}

.box {
    position: absolute;
    top: 3.78em;
    left: 50%;
    width: 4.4em;
    height: 1.7em;
    margin-left: -2.2em;
    border-radius: .5em;
    background: #959DA8;
    z-index: 29;
    opacity: 1;
    animation: circleFade 1.5s linear 2.5s;
    animation-fill-mode: forwards;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .88em;
    height: .88em;
    margin-top: -.44em;
    margin-left: -.44em;
    border-radius: 50%;
    background: #FFF;
    opacity: 1;
    animation: rotate 4s linear;
    animation-fill-mode: forwards;
}

.cross-y {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .1em;
    height: .6em;
    margin-top: -.3em;
    margin-left: -.05em;
    border-radius: .3em;
    background: #656D78;
}

.cross-x {
    width: .6em;
    height: .1em;
    margin: .4em auto;
    border-radius: .3em;
    background: #656D78;
}

.base {
    position: absolute;
    top: 5.56em;
    left: 50%;
    width: 3.7em;
    height: .24em;
    margin-left: -1.85em;
    border-radius: .16em;
    background: #757D88;
    z-index: 9;
    opacity: 1;
    animation: fade .5s linear 2.5s;
    animation-fill-mode: forwards;
}

.anchor1, .anchor2 {
    position: absolute;
    top: 5.76em;
    left: 50%;
    width: 1.1em;
    height: .14em;
    margin-left: -1.65em;
    border-radius: .8em;
    background: #757D88;
    z-index: 9;
    opacity: 1;
    animation: fade .5s linear 2.5s;
    animation-fill-mode: forwards;
}

.anchor2 {
    margin-left: .55em;
}


@keyframes headShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes lineFill {
    from {
        width: 0;
    }

    to {
        width: 2.1em;
    }
}


@keyframes showUp {
    0% {
        top: 2em;
        transform: scale(1);
    }

    12%, 16% {
        top: 1.74em;
        transform: scale(1);
    }

    28%, 32% {
        top: 1.36em;
        transform: scale(1);
    }

    44%, 48% {
        top: 1.02em;
        transform: scale(1);
    }

    60%, 64% {
        top: .52em;
        transform: scale(1);
    }

    80% {
        top: .62em;
        transform: scale(1);
    }

    100% {
        top: 1.92em;
        transform: scale(1.4);
    }
}

@keyframes rotate {
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }

    15%, 20% {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }

    35%, 40% {
        opacity: 1;
        transform: rotate(115deg) scale(1);
    }

    55%, 60% {
        opacity: 1;
        transform: rotate(215deg) scale(1);
    }

    75%, 80% {
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }

    100% {
        opacity: 0;
        transform: rotate(360deg) scale(0);
    }
}

@keyframes circleFade {
    0% {
        width: 4.4em;
        margin-left: -2.2em;
        border-radius: .5em;
        opacity: 1;
        transform: scale(1);
    }

    40% {
        width: 1.7em;
        margin-left: -.85em;
        border-radius: 50%;
        opacity: 1;
        transform: scale(1);
    }


    100% {
        width: 1.7em;
        margin-left: -.85em;
        border-radius: 50%;
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;

    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
