.main {
    width: 90%;
    max-width: 960px;
    padding: 4% 0;
    margin: 4rem auto;
    border: 1px solid rgba(0,0,0,.09);
    color: #222;
    background: #FFF;
    box-shadow: .7rem .5rem .7rem .4rem #E5E5E5;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3rem);
    animation: fadeIn 1s linear 4.5s;
    animation-fill-mode: forwards;
    &:after{
        content: " ";
        display: block;
        height: 0;
        font-size: 0;
        visibility: hidden;
        clear: both;
    }
    h3 {
        font-size: 2rem;
        padding-bottom: .7em;
        margin-top: 2.8em;
        border-bottom: 2px solid #555D68;
    }
    ul {
        list-style-type: disc;
        margin: 1em 0;
    }
    li, p {
        font-size: 1.6rem;
        font-weight: 500;
        color: #252D38;
    }
    li {
        margin: .8em 0;
    }
    p {
        margin: .4em 0;
        line-height: 1.4em;
    }
    a {
        color: #333;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: #555D68;
            text-decoration: underline;
        }
    }
}

.avatar {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border: 2px solid #555D68;
    border-radius: 50%;
    img {
        max-width: 100%;
        height: auto;
    }
}

.left {
    float: left;
    width: 40%;
    padding: 0 4%;
    h2 {
        margin: .4em 0;
        font-size: 2.8rem;
        text-align: center;
    }
    h4 {
        font-size: 1.8rem;
        text-align: center;
    }
    .downPdf {
        display: block;
        width: 12rem;
        height: 4.4rem;
        margin: 6rem auto;
        border: .2rem solid #656D78;
        border-radius: 1.6rem;
        color: #656D78;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        line-height: 4.2rem;
        background: transparent;
        transition: all .5s linear;
        &:hover {
            color: #FFF;
            text-decoration: none;
            background: #656D78;
            transform: scale(1.05);
        }
    }
}

.right {
    float: left;
    width: 60%;
    padding: 0 4%;
    h3 {
        text-align: center;
    }
    h4 {
        font-size: 1.7rem;
        margin-top: 1em;
        margin-bottom: .4em;
    }
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-3rem);

    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
