.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1160px;
    height: 620px;
    margin-top: -310px;
    margin-left: -580px;
    background: #FFF;
    h3 {
        margin-top: 40px;
        font-size: 18px;
    }
    p {
        font-family: simsun sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #000;
    }
}

.about {
    position: absolute;
    width: 440px;
    height: 620px;
    padding: 10px 15px 10px 45px;
    background: #FFF;
    box-shadow: 10px 3px 8px #EEE;
    z-index: 9;
    .avatar {
        display: block;
        width: 150px;
        height: 150px;
        margin: 20px auto 0;
        border: 1px solid #000;
        border-radius: 50%;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 22px;
        text-align: center;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        display: inline-block;
        vertical-align: middle;
    }
    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    .concat-info {
        margin-top: -15px;
        span {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 18px;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        .phone {
            background-image: url("../img/phone.png");
        }
        .email {
            background-image: url("../img/email.png");
        }
        .gmail {
            background-image: url("../img/gmail.png");
        }
    }
    .social {
        height: 50px;
        margin: 20px 0 0 40px;
        a {
            display: inline-block;
            width: 49px;
            height: 49px;
            margin: 0 18px;
            border-radius: 50%;
            text-decoration: none;
            background-repeat: no-repeat;
            vertical-align: middle;
            opacity: 1;
            transition: opacity .3s linear;
        }
        .github {
            background-image: url("../img/github.png");
            &:hover {
                opacity: .7;
            }
        }
        .leetcode {
            border: 1px solid #F9F9F9;
            background-image: url("../img/leetcode.png");
            &:hover {
                opacity: .8;
            }
        }
        .wechat {
            background-image: url("../img/wechat.png");
            &:hover {
                opacity: .8;
            }
        }
    }
}

.skill {
    position: absolute;
    left: 360px;
    width: 440px;
    height: 620px;
    padding: 10px 15px 10px 45px;
    background: #FFF;
    box-shadow: 10px 3px 8px #EEE, -10px 3px 8px #EEE;
    z-index: 7;
    &:hover {
        z-index: 10;
    }
}

.project {
    position: absolute;
    left: 720px;
    width: 440px;
    height: 620px;
    padding: 10px 15px 10px 45px;
    background: #FFF;
    box-shadow: -10px 3px 8px #EEE;
    z-index: 5;
    &:hover {
        z-index: 10;
    }
    &:after{
        content:"";
        display: block;
        position: absolute;
        right:0;
        bottom: 0;
        border: 14px solid;
        border-color:#E8E8E8 #F5F5F5 #F5F5F5 #E8E8E8;
        box-shadow: -4px 0px 1px #F5F5F5, 0px 5px 1px #F5F5F5;
    }
    .project-detail {
        width: 380px;
        height: 64px;
        margin: 24px 0 32px;
        h4 {
            float: left;
            width: 64px;
            height: 64px;
            margin: 0;
            margin-left: -5px;
            background-repeat: no-repeat;
            a {
                display: block;
                width: 64px;
                height: 64px;
                color: #333;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
                line-height: 64px;
                background-color: #FFF;
                opacity: 0;
                transition: opacity .4s linear;
                &:hover {
                    opacity: .6;
                }
            }
        }
        .diary {
            background-image: url(../img/diary.png);
        }
        .chat {
            background-image: url(../img/chat.png);
        }
        .demo {
            background-image: url(../img/demo.png);
            margin-bottom: 40px;
        }
        p {
            margin-top: 0px;
            margin-left: 64px;
            padding-left: 5px;
            a {
                display: inline;
                float: none;
                width: auto;
                height: auto;
                color: #999;
                text-decoration: none;
                &:hover {
                    color: #666;
                }
            }
        }
    }

    #downPdf {
        display: block;
        position: relative;
        width: 150px;
        height: 50px;
        margin: 50px auto 0;
        border: 2px solid #656D78;
        border-radius: 20px;
        color: #656D78;
        font-size: 15px;
        text-align: center;
        line-height: 48px;
        background: transparent;
        cursor: pointer;
        transition: all .5s linear;
        &:hover {
            color: #FFF;
            background: #656D78;
            transform: scale(1.08);
        }
        .tick {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 22px;
            margin-top: -11px;
            margin-left: -15px;
            background: url("../img/tick.png") no-repeat center;
        }
    }
}


