@media screen and (max-width: 768px) {
    .loading {
        font-size: 90px;
    }
}

@media screen and (max-width: 568px) {
    .loading {
        font-size: 80px;
    }
}

@media screen and (max-width: 420px) {
    .loading {
        font-size: 70px;
    }
}
