@media screen and (max-width: 768px) {
    .loading {
        font-size: 90px;
    }

    .left {
        width: 100%;
        h3 {
            margin-top: 3.2em;
        }
    }

    .right {
        width: 100%;
        h3 {
            text-align: left;
            &:first-child {
                margin-top: 3.2em;
            }
        }
    }

    .avatar {
        width: 120px;
        height: 120px;
    }

    #addWechat {
        position: fixed;
        top: 30rem;
        left: 50%;
        width: 26rem;
        height: 26rem;
        margin-left: -13rem;
    }
}

@media screen and (max-width: 568px) {
    .loading {
        font-size: 80px;
    }

    .main {
        width: 95%;
        margin: 2rem auto;
        h2 {
            margin: 1.8em 0 1em;
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 420px) {
    .loading {
        font-size: 70px;
    }

    .main {
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
    }
}
